In [0]:
import numpy as np
import pandas as pd

In [3]:
from google.colab import files
uploaded = files.upload()

Saving telco_data.csv.csv to telco_data.csv.csv

In [0]:
import io
df = pd.read_csv(io.StringIO(uploaded['telco_data.csv.csv'].decode('utf-8')))

In [5]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [65]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [0]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer

In [0]:
df['gender']

0       Female
1         Male
2         Male
3         Male
4       Female
5       Female
6         Male
7       Female
8       Female
9         Male
10        Male
11        Male
12        Male
13        Male
14        Male
15      Female
16      Female
17        Male
18      Female
19      Female
20        Male
21        Male
22        Male
23      Female
24        Male
25      Female
26        Male
27        Male
28        Male
29      Female
         ...
7013    Female
7014      Male
7015      Male
7016    Female
7017    Female
7018      Male
7019    Female
7020      Male
7021      Male
7022      Male
7023    Female
7024      Male
7025    Female
7026    Female
7027      Male
7028    Female
7029    Female
7030    Female
7031      Male
7032      Male
7033      Male
7034    Female
7035      Male
7036    Female
7037    Female
7038      Male
7039    Female
7040    Female
7041      Male
7042      Male
Name: gender, Length: 7043, dtype: object

In [7]:
df.dtypes.sample(21)

TotalCharges        float64
MultipleLines        object
PhoneService         object
Dependents           object
SeniorCitizen         int64
PaperlessBilling     object
gender               object
Partner              object
StreamingMovies      object
TechSupport          object
OnlineSecurity       object
MonthlyCharges      float64
DeviceProtection     object
StreamingTV          object
customerID           object
PaymentMethod        object
Contract             object
tenure                int64
InternetService      object
Churn                object
OnlineBackup         object
dtype: object

In [0]:
predictors_without_categoricals = df.select_dtypes(exclude=['object'])

In [0]:
one_hot_encoded_training_predictors = pd.get_dummies(df,columns= ['gender', 'SeniorCitizen', 'Partner', 'Dependents',
        'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod','Churn'])

In [0]:
one_hot_encoded_training_predictors

,customerID,tenure,MonthlyCharges,TotalCharges,gender_Female,gender_Male,SeniorCitizen_0,SeniorCitizen_1,Partner_No,Partner_Yes,...,Contract_One year,Contract_Two year,PaperlessBilling_No,PaperlessBilling_Yes,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_No,Churn_Yes
0,7590-VHVEG,1,29.85,29.85,1,0,1,0,0,1,...,0,0,0,1,0,0,1,0,1,0
1,5575-GNVDE,34,56.95,1889.5,0,1,1,0,1,0,...,1,0,1,0,0,0,0,1,1,0
2,3668-QPYBK,2,53.85,108.15,0,1,1,0,1,0,...,0,0,0,1,0,0,0,1,0,1
3,7795-CFOCW,45,42.30,1840.75,0,1,1,0,1,0,...,1,0,1,0,1,0,0,0,1,0
4,9237-HQITU,2,70.70,151.65,1,0,1,0,1,0,...,0,0,0,1,0,0,1,0,0,1
5,9305-CDSKC,8,99.65,820.5,1,0,1,0,1,0,...,0,0,0,1,0,0,1,0,0,1
6,1452-KIOVK,22,89.10,1949.4,0,1,1,0,1,0,...,0,0,0,1,0,1,0,0,1,0
7,6713-OKOMC,10,29.75,301.9,1,0,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
8,7892-POOKP,28,104.80,3046.05,1,0,1,0,0,1,...,0,0,0,1,0,0,1,0,0,1
9,6388-TABGU,62,56.15,3487.95,0,1,1,0,1,0,...,1,0,1,0,1,0,0,0,1,0
10,9763-GRSKD,13,49.95,587.45,0,1,1,0,0,1,...,0,0,0,1,0,0,0,1,1,0
11,7469-LKBCI,16,18.95,326.8,0,1,1,0,1,0,...,0,1,1,0,0,1,0,0,1,0
12,8091-TTVAX,58,100.35,5681.1,0,1,1,0,0,1,...,1,0,1,0,0,1,0,0,1,0
13,0280-XJGEX,49,103.70,5036.3,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,0,1
14,5129-JLPIS,25,105.50,2686.05,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,1,0
15,3655-SNQYZ,69,113.25,7895.15,1,0,1,0,0,1,...,0,1,1,0,0,1,0,0,1,0
16,8191-XWSZG,52,20.65,1022.95,1,0,1,0,1,0,...,1,0,1,0,0,0,0,1,1,0
17,9959-WOFKT,71,106.70,7382.25,0,1,1,0,1,0,...,0,1,1,0,1,0,0,0,1,0
18,4190-MFLUW,10,55.20,528.35,1,0,1,0,0,1,...,0,0,1,0,0,1,0,0,0,1
19,4183-MYFRB,21,90.05,1862.9,1,0,1,0,1,0,...,0,0,0,1,0,0,1,0,1,0
20,8779-QRDMV,1,39.65,39.65,0,1,0,1,1,0,...,0,0,0,1,0,0,1,0,0,1
21,1680-VDCWW,12,19.80,202.25,0,1,1,0,0,1,...,1,0,1,0,1,0,0,0,1,0
22,1066-JKSGK,1,20.15,20.15,0,1,1,0,1,0,...,0,0,1,0,0,0,0,1,0,1
23,3638-WEABW,58,59.90,3505.1,1,0,1,0,0,1,...,0,1,0,1,0,1,0,0,1,0
24,6322-HRPFA,49,59.60,2970.3,0,1,1,0,0,1,...,0,0,1,0,0,1,0,0,1,0
25,6865-JZNKO,30,55.30,1530.6,1,0,1,0,1,0,...,0,0,0,1,1,0,0,0,1,0
26,6467-CHFZW,47,99.35,4749.15,0,1,1,0,0,1,...,0,0,0,1,0,0,1,0,0,1
27,8665-UTDHZ,1,30.20,30.2,0,1,1,0,0,1,...,0,0,1,0,0,0,1,0,0,1
28,5248-YGIJN,72,90.25,6369.45,0,1,1,0,0,1,...,0,1,0,1,0,1,0,0,1,0
29,8773-HHUOZ,17,64.70,1093.1,1,0,1,0,1,0,...,0,0,0,1,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7013,1685-BQULA,40,93.40,3756.4,1,0,1,0,1,0,...,0,0,0,1,1,0,0,0,1,0
7014,9053-EJUNL,41,89.20,3645.75,0,1,1,0,1,0,...,0,0,0,1,0,0,1,0,1,0
7015,0666-UXTJO,34,85.20,2874.45,0,1,0,1,0,1,...,0,0,0,1,0,1,0,0,1,0
7016,1471-GIQKQ,1,49.95,49.95,1,0,1,0,1,0,...,0,0,1,0,0,0,1,0,1,0
7017,4807-IZYOZ,51,20.65,1020.75,1,0,1,0,1,0,...,0,1,1,0,1,0,0,0,1,0
7018,1122-JWTJW,1,70.65,70.65,0,1,1,0,0,1,...,0,0,0,1,0,0,0,1,0,1
7019,9710-NJERN,39,20.15,826,1,0,1,0,1,0,...,0,1,1,0,0,0,0,1,1,0
7020,9837-FWLCH,12,19.20,239,0,1,1,0,0,1,...,0,0,0,1,0,0,1,0,1,0
7021,1699-HPSBG,12,59.80,727.8,0,1,1,0,1,0,...,1,0,0,1,0,0,1,0,0,1
7022,7203-OYKCT,72,104.95,7544.3,0,1,1,0,1,0,...,1,0,0,1,0,0,1,0,1,0
7023,1035-IPQPU,63,103.50,6479.4,1,0,0,1,0,1,...,0,0,0,1,0,0,1,0,1,0
7024,7398-LXGYX,44,84.80,3626.35,0,1,1,0,0,1,...,0,0,0,1,0,1,0,0,1,0
7025,2823-LKABH,18,95.05,1679.4,1,0,1,0,1,0,...,0,0,0,1,1,0,0,0,1,0
7026,8775-CEBBJ,9,44.20,403.35,1,0,1,0,1,0,...,0,0,0,1,1,0,0,0,0,1
7027,0550-DCXLH,13,73.35,931.55,0,1,1,0,1,0,...,0,0,1,0,0,0,0,1,1,0
7028,9281-CEDRU,68,64.10,4326.25,1,0,1,0,0,1,...,0,1,1,0,1,0,0,0,1,0
7029,2235-DWLJU,6,44.40,263.05,1,0,0,1,1,0,...,0,0,0,1,0,0,1,0,1,0
7030,0871-OPBXW,2,20.05,39.25,1,0,1,0,1,0,...,0,0,0,1,0,0,0,1,1,0
7031,3605-JISKB,55,60.00,3316.1,0,1,0,1,0,1,...,1,0,1,0,0,1,0,0,1,0
7032,6894-LFHLY,1,75.75,75.75,0,1,0,1,1,0,...,0,0,0,1,0,0,1,0,0,1
7033,9767-FFLEM,38,69.50,2625.25,0,1,1,0,1,0,...,0,0,0,1,0,1,0,0,1,0
7034,0639-TSIQW,67,102.95,6886.25,1,0,1,0,1,0,...,0,0,0,1,0,1,0,0,0,1
7035,8456-QDAVC,19,78.70,1495.1,0,1,1,0,1,0,...,0,0,0,1,1,0,0,0,1,0
7036,7750-EYXWZ,12,60.65,743.3,1,0,1,0,1,0,...,1,0,1,0,0,0,1,0,1,0
7037,2569-WGERO,72,21.15,1419.4,1,0,1,0,1,0,...,0,1,0,1,1,0,0,0,1,0
7038,6840-RESVB,24,84.80,1990.5,0,1,1,0,0,1,...,1,0,0,1,0,0,0,1,1,0
7039,2234-XADUH,72,103.20,7362.9,1,0,1,0,0,1,...,1,0,0,1,0,1,0,0,1,0
7040,4801-JZAZL,11,29.60,346.45,1,0,1,0,0,1,...,0,0,0,1,0,0,1,0,1,0
7041,8361-LTMKD,4,74.40,306.6,0,1,0,1,0,1,...,0,0,0,1,0,0,0,1,0,1
7042,3186-AJIEK,66,105.65,6844.5,0,1,1,0,1,0,...,0,1,0,1,1,0,0,0,1,0

In [10]:
list(one_hot_encoded_training_predictors)

['customerID',
 'tenure',
 'MonthlyCharges',
 'TotalCharges',
 'gender_Female',
 'gender_Male',
 'SeniorCitizen_0',
 'SeniorCitizen_1',
 'Partner_No',
 'Partner_Yes',
 'Dependents_No',
 'Dependents_Yes',
 'PhoneService_No',
 'PhoneService_Yes',
 'MultipleLines_No',
 'MultipleLines_No phone service',
 'MultipleLines_Yes',
 'InternetService_DSL',
 'InternetService_Fiber optic',
 'InternetService_No',
 'OnlineSecurity_No',
 'OnlineSecurity_No internet service',
 'OnlineSecurity_Yes',
 'OnlineBackup_No',
 'OnlineBackup_No internet service',
 'OnlineBackup_Yes',
 'DeviceProtection_No',
 'DeviceProtection_No internet service',
 'DeviceProtection_Yes',
 'TechSupport_No',
 'TechSupport_No internet service',
 'TechSupport_Yes',
 'StreamingTV_No',
 'StreamingTV_No internet service',
 'StreamingTV_Yes',
 'StreamingMovies_No',
 'StreamingMovies_No internet service',
 'StreamingMovies_Yes',
 'Contract_Month-to-month',
 'Contract_One year',
 'Contract_Two year',
 'PaperlessBilling_No',
 'PaperlessBilling_Yes',
 'PaymentMethod_Bank transfer (automatic)',
 'PaymentMethod_Credit card (automatic)',
 'PaymentMethod_Electronic check',
 'PaymentMethod_Mailed check',
 'Churn_No',
 'Churn_Yes']

In [11]:
one_hot_encoded_training_predictors.index

RangeIndex(start=0, stop=7043, step=1)

In [0]:
final_use = one_hot_encoded_training_predictors.astype('float32',copy=False,errors= 'ignore')

In [0]:
X = final_use[[
 'tenure',
 'MonthlyCharges',
 'TotalCharges',
 'gender_Female',
 'gender_Male',
 'SeniorCitizen_0',
 'SeniorCitizen_1',
 'Partner_No',
 'Partner_Yes',
 'Dependents_No',
 'Dependents_Yes',
 'PhoneService_No',
 'PhoneService_Yes',
 'MultipleLines_No',
 'MultipleLines_No phone service',
 'MultipleLines_Yes',
 'InternetService_DSL',
 'InternetService_Fiber optic',
 'InternetService_No',
 'OnlineSecurity_No',
 'OnlineSecurity_No internet service',
 'OnlineSecurity_Yes',
 'OnlineBackup_No',
 'OnlineBackup_No internet service',
 'OnlineBackup_Yes',
 'DeviceProtection_No',
 'DeviceProtection_No internet service',
 'DeviceProtection_Yes',
 'TechSupport_No',
 'TechSupport_No internet service',
 'TechSupport_Yes',
 'StreamingTV_No',
 'StreamingTV_No internet service',
 'StreamingTV_Yes',
 'StreamingMovies_No',
 'StreamingMovies_No internet service',
 'StreamingMovies_Yes',
 'Contract_Month-to-month',
 'Contract_One year',
 'Contract_Two year',
 'PaperlessBilling_No',
 'PaperlessBilling_Yes',
 'PaymentMethod_Bank transfer (automatic)',
 'PaymentMethod_Credit card (automatic)',
 'PaymentMethod_Electronic check',
 'PaymentMethod_Mailed check']]

In [0]:
y = final_use.Churn_Yes

In [15]:
X.dtypes.sample(21)

OnlineBackup_Yes                           float32
StreamingMovies_No                         float32
PaperlessBilling_Yes                       float32
PaymentMethod_Bank transfer (automatic)    float32
PhoneService_No                            float32
StreamingTV_No internet service            float32
gender_Male                                float32
TechSupport_No                             float32
StreamingTV_No                             float32
Contract_One year                          float32
Dependents_No                              float32
OnlineBackup_No internet service           float32
TechSupport_No internet service            float32
Contract_Month-to-month                    float32
PaperlessBilling_No                        float32
MultipleLines_No                           float32
InternetService_No                         float32
PaymentMethod_Credit card (automatic)      float32
OnlineSecurity_Yes                         float32
TotalCharges                               float32
PaymentMethod_Mailed check                 float32
dtype: object

charge_new = pd.to_numeric(final_use['TotalCharges'], errors='coerce')

In [16]:
X['TotalCharges'] = pd.to_numeric(X['TotalCharges'], errors= 'coerce')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [17]:
X.TotalCharges.dtype

dtype('float32')

In [18]:
X.dtypes.sample(21)

StreamingMovies_Yes                    float32
OnlineBackup_No                        float32
MonthlyCharges                         float32
Dependents_No                          float32
StreamingMovies_No internet service    float32
OnlineBackup_No internet service       float32
TotalCharges                           float32
gender_Female                          float32
PaymentMethod_Mailed check             float32
Partner_Yes                            float32
Contract_Two year                      float32
MultipleLines_No                       float32
InternetService_DSL                    float32
PaperlessBilling_Yes                   float32
MultipleLines_Yes                      float32
PhoneService_No                        float32
PaymentMethod_Electronic check         float32
DeviceProtection_No                    float32
Dependents_Yes                         float32
StreamingTV_Yes                        float32
TechSupport_No internet service        float32
dtype: object

In [0]:
train_X, test_X, train_y, test_y = train_test_split(X.as_matrix(), y.as_matrix(), test_size=0.25)
my_imputer = Imputer()

In [20]:
from xgboost import XGBRegressor

my_model = XGBRegressor()
# Add silent=True to avoid printing out updates with each cycle
my_model.fit(train_X, train_y, verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [23]:
predictions = my_model.predict(test_X)

from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error : " + str(mean_absolute_error(predictions, test_y)))

Mean Absolute Error : 0.27357846

In [0]:
from sklearn.metrics import accuracy_score

In [24]:
import sklearn
sklearn.metrics.fbeta_score(test_y, predictions.round(),1 , sample_weight=None)

0.5772455089820359

In [91]:
accuracy_score(test_y, predictions.round() , normalize=True, sample_weight=None)

0.7825099375354913

In [0]:
from sklearn.ensemble.partial_dependence import partial_dependence, plot_partial_dependence

In [27]:
my_plots = plot_partial_dependence(my_model,       
                                   features=[0, 2], # column numbers of plots we want to show
                                   X=X,            # raw predictors data.
                                   feature_names=['MonthlyCharges', 'TotalCharges', 'InternetService_DSL'])

ValueError: ignored